* {
    text-align: center;
}

.ContactInput {
    margin-left: 5px;
    width: 200px;
}

.ContactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TextArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    text-align: left;
}

.ContactSubmit {
    width: 100px;
    margin-top: 10px;
}
