.FooterStyle {
    padding: 15px;
    position: fixed;
    text-align: left;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    font-weight: bolder;
    color: #61E786;
    background-color: #25283D;
}

a {
    color: #61E786;
    text-decoration: none;
}