.footerStyle {
    padding: 15px;
    position: fixed;
    text-align: left;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    font-weight: bolder;
    text-shadow: 1px 1px #61E786;
}

a {
    color: black;
    text-decoration: none;
}