*{
  box-sizing: border-box;
}

body {
  background-color: #938DE2;
}


.App {
  text-align: center;
  padding: 10px;
}
h1 {
  text-shadow: 1px 1px #61E786;
}

.searchBox {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.searchItems {
  border: 2px black solid;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #EDFFEC;
}

.searchDisplay {
  margin-top: 20px;
  padding: 0px 50px;
}

.English {
  font-size: 20px;
  font-weight: bold;
}

.POS {
  font-size: 14px;
  font-style: italic;
}

.answer {
  font-size: 18px;
}

form input {
  border: none;
  width: 150px;
  height: 30px;
}
input:focus, button:focus {
  outline: none;
}

button {
  background-color: #61E786;
  cursor: pointer;
  height: 30px;
  border: none;
}

.instructions {
  font-weight: bold;
}

.error {
  color: #61E786;
  text-shadow: 2px 2px black;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forms > div {
  border: 2px black solid;
  width: 80%;
  height: 220px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.CreateForm, .SearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.CreateForm button, .SearchForm button {
  margin-top: 5px;
}

.CreateForm, .SearchForm {
  margin: 10px;
}

label {
  padding: 5px;
}

.FormHeading {
  font-weight: bold;
  font-size: 22px;
}

@media screen and (min-width: 300px) {

  form input {
    width: 200px;
  }
  
  .forms > div {
    font-size: 14px;
  }

  .SearchForm {
    display: inline-block;
  }
}

@media screen and (min-width: 560px) {

  .forms {
    flex-direction: row;
    font-size: 18px;
  }
  form input {
    width: 200px;
  }
  
  .forms > div {
    height: 250px;
  }
}

@media screen and (min-width: 750px) {

  form input {
    width: 250px;
  }
}

@media screen and (min-width: 1000px) {

  form input {
    width: 400px;
  }
}